 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
 }

 main{
  height: 100vh;
 }





 /* ________________ nav start ________________ */

 

.logo{
  color: #137f7c;
  letter-spacing: 4px;
  font-size: 30px !important;
  font-weight: 700;
}

.logo:hover{
  color: #137f7c;
}

.nav-link,.log{
  position: relative;
  color: slategray;
  margin: 0 5px 0 5px;
  transition: 0.3s;
}

.nav-link:hover,.log:hover{
  color: #137f7c;
  transition: 0.3s;
  text-decoration: none;
}

.nav-link:focus{
 background-color:#137f7c;
 color: white;
 padding: 5px;
 border-radius: 5px;
  transition: 0.3s;
 
}

li{
  list-style: none;
}

.bu {
 margin: 10px;
 color: #137f7c;
 transition: 0.3s;
}

.bu:hover{
  text-decoration: none;
  color: #d4eaf7;
  transition: 0.3s;
}


nav  ul#user_info {
  display: none;
  margin-top: 10px;
}

nav ul#user_info li .up{
  font-size: 25px;
  cursor: pointer;
 padding: 8px 10px 0 12px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 2px solid #d4eaf7;;
}

nav ul#user_info li .ca{
  font-size: 25px;
  cursor: pointer;
 padding: 8px 10px 0 12px;
}

nav ul#user_info li{
  margin: 0px 10px;
  position: relative;
}

nav ul#user_info li .badge {
  position: absolute;
  width: 25px;
  height: 20px;
  color: #137f7c;
  display: none;
  top:25px;
  right:-7px;
  font-size: 15px;
}


.carts_products {
  position: absolute;
  width:320px;
  height: 90px;
  transform: translate(-130px,0);
  background-color: #eaeaea;
  top: 56px;
  padding: 10px;
  border: 1px solid green;
  display: none;
  overflow: auto;
  z-index: 22;
}

.carts_products a {
 display: block;
 color: #000;
 margin: 4px 0;
 padding: 5px 10px;
 background-color: #137f7c;
 color: #fff;
 text-align: center;
 text-decoration: none;
 font-weight: 600;
 transition: 0.3s;
}

.carts_products a:hover{
  text-decoration: none;
  color: white;
  background-color: #a62d85;
  transition: 0.3s;
}

.log{
  display: block;
  margin-top:10px ;
}


/* _________________________ start div of the user ________________________ */

.name1{
  background-color: white;
  width: 220px;
  height: 400px;
  margin-top: 5px;
  margin-left: -50px;
  border-radius: 20px;
  display: none;
  position: absolute;
  border: 2px solid #137f7c;
  z-index: 20;
}

.name1 img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 20px;
}

.name1 .line1{
  width: 200px;
  height: 1px;
  margin-left: 8px;
  background-color: slategray;
}

.name1 .wel{
  margin-top: -12px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.name1 .name2{
  display: block;
  text-align: center ;
  text-transform:uppercase;
  margin-top: -20px;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
}

.set{
  margin-top:10px ;
}

.set p{
  font-weight: 600;
  font-size: 24px;
 transition: 0.3s;
}

.set p:hover{
  background-color: #137f7c;
  color: white;
  padding: 5px 0;
  transition: 0.3s;
  cursor: pointer;
}

.set p i{
  margin: 0 5px;
}

.social{
  margin-top: -10px;
}

.social i{
  font-size: 30px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 2px solid black;
 text-align: center;
 padding-top: 7px;
 margin-left: 15px;
}

.social .face{
  color: #1b62bf;
  transition: 0.3s;
}

.social .face:hover{
  background-color: #1b62bf;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.social .inst{
  color: #a62d85;
  transition: 0.3s;
}

.social .inst:hover{
  background-color: #a62d85;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.social .twit{
  color: #08cfee;
  transition: 0.3s;
}

.social .twit:hover{
  background-color: #08cfee;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}



/* _________________________ end div of the user ________________________ */




/* ________________ nav end ________________ */








  /* _________________________ start login and register ________________ */


         .sec2{
          display: flex !important;;
          justify-content: center !important;
          transform: translateY(30%) !important;
        
         }

         .back{
          border: 1px solid #137f7c;
          width: 500px;
         }

         .back h2{
          text-align: center;
          font-weight: 600;
          margin-top: 20px;
         }

         .first_last{
         display: flex;
         justify-content: center;
         width: 100%;
         }

         .first_last input{
          margin: 10px;
          padding-left: 5px;
          outline: none;
          border: none;
          height: 30px;
          border-radius: 3px;
          font-weight: 600;
          border: 1px solid #137f7c;
         }

         .mob_pass input{
          display: block !important;
          width: 94%;
          margin: 10px;
          padding-left: 5px;
          outline: none;
          border: none;
          height: 30px;
          border-radius: 3px;
          font-weight: 600;
          border: 1px solid #137f7c;
         }

         .birth{
          margin: 10px;
         }

         .birth select{
          width: 32%;
          border: 1px solid #137f7c;
          border-radius: 3px;
          height: 30px;
         }

         .birth option{
          font-size: 13px;
         }
         
         .fem_male{
         display: flex;
         justify-content: space-around;
         }

         .fem_male .one3,.two{
          background-color: white;
          border: 1px solid #137f7c;
          border-radius: 3px;
          height: 28px;
          padding-left: 10px;
         }

         .fem_male .one3 input,.two input{
         width: 50px;
         }

         .submit{
         padding: 5px 20px;
         margin-top: 20px;
         margin-bottom: 20px;
         text-align: center;
          margin-left: 40%;
          font-weight: 600;
          background-color: #137f7c;
          border: none;
          color: white;
          border-radius: 5px;
         }

         .line{
          height: 1px;
          background-color: slategray;
          width: 95%;
          margin-left: 10px;
         }

         .submit1{
          padding: 5px 20px;
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: center;
           margin-left: 30%;
           font-weight: 600;
           background-color: #137f7c;
           border: none;
           color: white;
           border-radius: 5px;
          }





          /* _________________________ end login and register ________________ */









          /* _____________________________ start of search input and products ________________________________ */


          #search-container {
            display: flex;
           justify-content: center;
           position: relative;
          }

          #search-container input{
            width: 500px;
            padding: 10px;
            margin-bottom: 10px;
          }

          #search-container button{
           height: 48px;
           margin-left: 10px;
           border: none;
           padding: 0 20px;
           font-weight: 600;
           background-color: #137f7c;
           color: white;
           border-radius: 6px;
           cursor: pointer;
          }
      
          .cat {
            display: flex;
            justify-content: center;
          }

          .cat .category{
            height: 48px;
            margin-left: 10px;
            border: none;
            padding: 0 20px;
            font-weight: 600;
            background-color: white;
            color: black;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
          }

          .cat .category:focus{
            background-color: #137f7c;
            color: white;
            transition: 0.2s;
          }
      
          #categories{
            display: flex;
            gap: 10px;
            margin: 0 10px;
          }
      
          #products-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1b 0px;
          }
      
          .product {
            border: 1px solid #ddd;
            margin:20px;
            width: 310px;
            box-shadow: 10px 10px 1px 0px black;
          }
      
          .product img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: auto;
          }

          .description{
            background-color: rgba(238, 232, 232, 0.49);
            height: 125px;
          }

          .card-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 15px;
            padding-top: 10px;
          }

          .but{
            display: flex;
            justify-content: space-around;
          }

          .but p{
            padding-top: 5px;
          }

      
          .add-to-cart-button {
           width: 150px;
           height: 40px;
           border-radius: 12px;
           border: none;
           background-color: transparent;
           cursor: pointer;
          border: 1px solid black;
          }

          .hear{
            font-size: 22px;
            text-align: right;
            margin-right: 10px;
            cursor: pointer;
          }
      


          /* _____________________________ end of search input and products ________________________________ */
           






          /* _________________________________ start of the products in the cart _______________________________ */

    

          .cart-brand{
            display: flex;
            justify-content: space-between;
            background-color: white;
            height: 40px;
            padding: 5px 10px;
            border-radius: 10px;
            margin: 10px 0;
          }

          .brand-name{
            font-weight: 600;
          }

          .quantity-control button{
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 25px;
            margin: -6px 0;
          }

          .quantity-control .low ,.one .low{
            color: red;
          }
       
          .quantity-control .quantity{
            font-weight: 600;
            margin-top: -10px;
           
          }


            /* _________________________________ end of the products in the cart _______________________________*/







            /* _________________the start of the products in the cartsProducts.html ____________________ */





          .one{
            width: 505px;
            height: 210px;
            background-color: rgba(238, 232, 232, 0.49);
            margin: 10px;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
          }

          .one img{
            width: 200px ;
            height: 200px;
          }

          .one .description1{
            display: flex;
            flex-direction:column;
            margin-right: 30px;
            margin-top: 40px;
          }

          .one .description1 p{
            margin-left: 13px;
          }


          .one .but{
           margin-left: 130px;
          }

          .one .but .add-to-cart-button{
            background-color: rgba(255, 0, 0, 0.651);
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            width: 100px;
          }

          .one .cart-button{
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 25px;
            margin: -6px 10px;
          }

          .one span{
            font-weight: 600;
          }

          .total-price{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
          }
               




          
            /* _________________the end of the products in the cartsProducts.html ____________________ */

          
          








            /* _________________the start of the favorits products in the cartsProducts.html ____________________ */



          #favorites-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
          }
     
          .one-pro h2{
            text-align: center;
            font-weight: 600;
            margin-top: 100px;
          }

          .one-pro p{
            width: 60px;
            height: 2px;
            background-color: rgba(213, 6, 6, 0.651);
             margin: auto;
          }


          .one1{
            width: 355px;
            height: 280px;
            background-color: rgba(238, 232, 232, 0.49);
            margin: 20px;
            border-radius: 20px;
          }

          .one1 img{
            width: 200px ;
            height: 200px;
            display: block;
             margin: auto;
          }

          .one1 .description2 {
            display: flex;
            justify-content: space-between;
          }

          .one1 .description2 i{
            color: rgba(255, 0, 0, 0.651);
            font-size: 25px;
            margin-top: 30px;
            margin-right: 10px;
            cursor: pointer;
          }




           /* _________________the end of the favorits products in the cartsProducts.html ____________________ */







          @media (max-width:870px){
            .cat .category{
              font-size: 12px;
            }

            .name1{
              margin-left: -15px;
            }

            .carts_products{
              margin-left: 40px;
            }
          }


          @media (max-width:770px){
            .cat .category{
              font-size: 11px;
              padding: 6px;
            }

            .carts_products{
              margin-left: 10px;
            }

            .carts_products{
              margin-left: 40px;
            }
          }

          
          @media (max-width:550px){
            .cat .category{
              font-size: 10px;
              padding: 5px;
             
            }

            .carts_products{
              margin-left: 70px;
            }
          }



          @media (max-width:470px){
            .cat .category{
              font-size: 8px;
              padding: 4px;
            }

            .back .first_last input{
              width: 185px;
            }

            .one{
              width: 405px;
            }

            .one .but .add-to-cart-button{
              margin-left: -30px;
            }
          }






          @media (max-width:400px){
            .cat .category{
              font-size: 7px;
              padding: 3px;
            }

            .one{
              width: 380px;
            }

            .one .but .add-to-cart-button{
              margin-left: -70px;
              height: 30px;
            }

            .back{
              width:360px;
            }

            .back .first_last input{
              width: 163px;
            }
          }